.main_landing{
    /* border: 2px solid darkgreen; */
    
    display: flex;
    
    height: 100%;
}
.left{
    /* border: 2px solid tomato; */
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.right{
    /* border: 2px solid tomato; */
    width: 70%;
    height: 100%;
}

@media screen and (max-width:521px) {
    .main_landing{
        flex-direction: column;
    }
    .left{
        width: 100%;
        height: 10%;
        
    }
    .right{
        width: 100%;
        height: 90%;
    }
}