.main_login_form{
    /* border: 2px solid black; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login_form{
    display: flex;
    flex-direction: column;
    
}

.login_form_items{
    margin: 2px;
}